<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Webshop</title>
    <link rel="stylesheet" th:href="@{/style.css}"/>
    <meta charset="utf-8"/>
</head>
<body>
<div th:replace="fragments/header::header"></div>

<table>
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
        <th>Quantity</th>
    </tr>
    <tr th:each="shopItem: ${shopItemList}">
        <td th:text="${shopItem.name}"></td>
        <td th:text="${shopItem.description}"></td>
        <td th:text="${shopItem.price}"></td>
        <td th:text="${shopItem.quantity}"></td>
    </tr>
</table>
</body>
</html>