<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/style.css}"/>
    <title>Homepage</title>
</head>
<body>
<ul>
    <li><a href="/login">Login</a></li>
    <li><a href="/nutrition-store">Nutrition Store</a></li>
    <li><a href="/trick-center">Trick Center</a></li>
</ul>
<img src="greenfox.png">
<p th:text="'This is ' + ${foxName} + '. Currently living on ' + ${foxFood} + ' and ' + ${foxDrink}+ '. He knows ' +${foxTrickNumber} + ' tricks.'"></p>
<h1>Known tricks</h1>
<ul th:if="${foxTrickNumber != 0}" th:each="trick: ${foxTricks}">
    <li th:text="${trick}"></li>
</ul>
<p th:if="${foxTrickNumber == 0}">I don't know any tricks yet. Teach me some.</p>
</body>
</html>