<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/style.css}"/>
    <title>Nutrition Store</title>
</head>
<body>
<form method="post" action="/nutrition-store">
    <label for="foods">Food</label>
    <select id="foods" name="food">
        <option value="pizza">Pizza</option>
        <option value="hamburger">Hamburger</option>
        <option value="hotdog">Hotdog</option>
        <option value="apple">Apple</option>
        <option value="cake">Cake</option>
    </select>
    <label for="drink">Drink</label>
    <select id="drink" name="drink">
        <option value="lemonade">Lemonade</option>
        <option value="milk">Milk</option>
        <option value="coke">Coke</option>
        <option value="redbull">Redbull</option>
        <option value="cappy">Cappy</option>
    </select>
    <button type="submit">Change</button>
</form>
</body>
</html>