body {
    padding: 20px 20px;
}

h1 {
    color: blue;
    font-weight: bold;
}

heading button {
    background-color: lightcoral;
    border: none;
    text-align: center;
    border-radius: 8px;
    padding: 14px 40px;
}

button {
    background-color: lightcoral;
    border: none;
    text-align: center;
    border-radius: 8px;
    padding: 10px 24px;
}

th {
    background-color: aqua;
}

input {
    color: gray;
    padding: 8px 20px;
    border-radius: 8px;
}

form {
    display: inline-block;
}

p {
    font-size: 24px;
}
